@page "/katalog"

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner" style="min-height: 100px;">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-align-middle mat-layout-grid-cell-span-4">
            <MatH4><strong>Katalog Produk Olahan</strong></MatH4>
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2"></div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-align-right mat-layout-grid-cell-span-6">
            <MatIcon>
                <img src="images/produk_olahan.png" />
            </MatIcon>
        </div>
    </div>
</div>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner" style="min-height: 100px;">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-align-middle mat-layout-grid-cell-span-3">
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-align-left mat-layout-grid-cell-span-9">
        </div>
    </div>
</div>

@code {

}