<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-align-top mat-layout-grid-cell-span-5">
            <MatBody1 style="color: white;">
                Pengolahan dan Pemasaran Hasil Peternakan
                <br />
                Kementrian Pertanian
                <br />
                Direktorat Jenderal Peternakan dan Kesehatan Hewan
            </MatBody1>
            <br />
            <MatBody2 style="color: darkgray;">
                Kantor Pusat:
                <br />
                Jl. Harsono RM No.3, RT.5/RW.7
                <br />
                Gedung C lantai 9 Wing A, Ruang 903
                <br />
                Ragunan, Kecamatan Ps. Minggu
                <br />
                Kota Jakarta Selatan
                <br />
                Daerah Khusus Ibukota Jakarta 12550
            </MatBody2>
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
        </div>

        <div class="mat-layout-grid-cell mat-layout-grid-cell-align-bottom mat-layout-grid-cell-span-12">
            <MatBody2 style="color: darkgray;">
                2019 © Direktorat Pengolahan dan Pemasaran Hasil Peternakan, Ditjen PKH Kementerian Pertanian
            </MatBody2>
        </div>
    </div>
</div>

@code
{
}