<div style="display: flex; flex-direction: column; padding: 10px;">
    <div style="padding: 5px; overflow: auto;">
        <MatNavMenu>
            <MatNavItem Href="" NavLinkMatch="NavLinkMatch.All"><MatIcon Icon="home"></MatIcon>&nbsp;&nbsp; Home</MatNavItem>
            <MatNavItem Href="FiscalYears" NavLinkMatch="NavLinkMatch.All"><MatIcon Icon="face"></MatIcon>&nbsp;&nbsp; Data Master</MatNavItem>
        </MatNavMenu>
    </div>
</div>