@inherits LayoutComponentBase

@inject NavigationManager Navigation

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-align-middle mat-layout-grid-cell-span-12">
            <img style="max-height: 40em; width: 45em" src="images/404_not_found.jpg" />
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-align-middle mat-layout-grid-cell-span-12">
            <div class="text-center">
                <MatBody1>
                    Maaf, Halaman tidak ditemukan
                </MatBody1>
                <MatButton OnClick='() => { Navigation.NavigateTo("/"); }'>Go Back to Home</MatButton>
            </div>
        </div>
    </div>
</div>
